/* TSOS.css */

body {
  /* background: #909193 url(distrib/images/grey.jpg); */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  position: relative;
}

h1 {
  color: white;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: white;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  color: white;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#FFFFFF;
  border: 2px solid #000000;
  cursor: default;
}

textarea{
  border: 2px solid #000000;
}

.normal_button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-size: 40px;
  border: none;
  display: inline-block;
  text-align: center;
}

.stop_button {
  background-image: url(distrib/images/ghostVul.png);  
}

#btnStartOS {
  background-image: url(distrib/images/pac_man.png);
}

#btnStartOS:disabled {
  background-image: url(distrib/images/pacman.png);
}

#btnHaltOS:disabled {
  background-image: url(distrib/images/ghostGreen.png);
}

#btnReset:disabled {
  background-image: url(distrib/images/ghostRed.png);
}

#btnSingle {
  background-image: url(distrib/images/single1.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 100px;
  border: none;  
  width: 100px;  
}

#btnNext {
  background-image: url(distrib/images/next1.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 25px;
  border: none;  
  width: 40px;  
}

text {
  color: #FFFFFF;
  font-weight: normal;
}

table {
  display: inline-table;
}

#mainContent {
  border-spacing: 10px;
  border-collapse: separate;
  /* border: 1px solid #FEF200; */
}

#mainContent th {
  vertical-align: top;
}

.tableContainer {
  border: 2px solid black;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  background-color: white;
}

#cpuContainer {
  width: 400px;
  height: 60px;
  border: 2px solid black;
  background-color: white;  
}

#memoryContainer {
  width: 330px;
  height: 288px;
}

#pcbContainer{
  width: 400px;
  height: 140px;
}

#tbMemory{
  color: black;
  font-weight: normal;
  font-family: Courier New, Courier, monospace;  
  width: 100%;
  text-align: center; 
  border-collapse: collapse;
  padding: 5px; 
}

#fsContainer {
  width: 800px;
  height: 100px;
}

#tbFS{
  color: black;
  font-weight: normal;
  font-family: Courier New, Courier, monospace;  
  width: 100%;
  text-align: center; 
}

table#tbFS td:first-child{
  width: 9%;
}
table#tbFS td:second-child{
  width: 2%;
}
table#tbFS td:third-child{
  width: 9%;
}
table#tbFS td:last-child{
  width: 80%;
}

table.tableStyle tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tbCPU, #tbProcess{
  color: black;
  font-family: Courier New, Courier, monospace;
  font-weight: normal;
  width: 100%;
  text-align: center;  
  border-collapse: collapse;
  table-layout: fixed;
}

.footerText {
  color: #FEF200;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('distrib/images/grey.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}